*{
	font-family: 'Ibarra Real Nova', serif;
}
body{
	background-color: #000;
}
h1{
	color: #fff;
	font-weight: 10%;
	font-size: 3vw;
	text-align: center;
}
h2{
	color: #000;
	text-align: left;
}
#AboutMe{
	
	display: inline-block;
	box-shadow: 5px 5px 5px 5px;
	border-style: #fff;
	padding: 3%;
	padding-right: 50%;
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
	background-color: #fff;
	color: #fff;
	padding-left: 5%;
	
}
#AboutSchool{
	display: inline-block;
	box-shadow: 5px 5px 5px 5px;
	border-style: #fff;
	padding: 3%;
	padding-right: 10%;
	padding-left: 5%;
	margin-top: 2%;
	margin-left: 50%;
	margin-bottom: 2%;
	background-color: #fff;
	color: #fff;
}
#Hobby{
	display: inline-block;
	box-shadow: 5px 5px 5px 5px;
	border-style: #fff;
	padding: 3%;
	padding-right: 30%;
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
	background-color: #fff;
	color: #fff;
}

a:link, a:visited {
  background-color: #5DBEE8;
  color: #fff;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  background: 5DBEE8;
  -webkit-transition: padding 2s;
  transition: padding 1s;
}

a:hover, a:active {
  background-color: #5DBEE8;
  padding-right: 50px;
  padding-left: 50px;
}
p{
	text-align: left;
	color: #000;
}
ul{
	color: #000;
}
li{
	color: #000;
}
